.PanelCanserTreatmentStyle {
}

.ImgHeaderCanserTreatmentStyle {
    width: 100%;
    transform:scaleX(-1)
}

.DivVideoAndTextCanserTreatmentStyle {
    margin-top: 5%;
}

.VideoCanserTreatmentStyle {
    width: 100%;
}

.TitrTextVideoCanserTreatmentStyle {
    font-family: W_yekan;
    font-size: 1.5vw;
    color: black;
    font-weight: bold;
}

.DivZirTextVideoCanserTreatmentStyle {
    margin-top: 3%;
}

.ZirTextVideoCanserTreatmentStyle {
    font-family: W_yekan;
    font-size: 1.2vw;
    color: black;
}

.SliderDivTextCanserTreatmentStyle {
    position: absolute;
    margin-top: -33%;
    margin-right: 5%;
}

.SliderTitrCanserTreatmentStyle {
    color: rgba(12,144,68,1);
    font-size: 4vw;
    font-weight: bold;
    font-family: W_yekan;
}

.SliderZirDivTextCanserTreatmentStyle {
    position: absolute;
    margin-top: -28%;
    margin-right: 5%;
}

.SliderZirTitrCanserTreatmentStyle {
    color: rgba(12,144,68,1);
    font-size: 6vw;
    font-weight: bold;
    font-family: W_yekan;
}

.SliderDivDescriptionCanserTreatmentTitrStyle {
    position: absolute;
    margin-top: -20%;
    margin-right: 5.5%;
}

.SliderDescriptionCanserTreatmentTextTitrStyle {
    color: rgba(0,76,52,1);
    font-size: 1.5vw;
    font-weight: bold;
    font-family: W_yekan;
}

.DivBtnCanserTreatmentSingInStyle {
    position: absolute;
    margin-top: -9.5%;
    margin-right: 5%;
    background-color: rgba(141,198,63,1);
    border-radius: 30px;
    transition: 0.5s;
}

    .DivBtnCanserTreatmentSingInStyle:hover {
        position: absolute;
        margin-top: -9.5%;
        margin-right: 5%;
        background-color: rgba(141,198,63,1);
        border-radius: 30px;
        transition: 0.5s;
        transform: scale(1.2);
    }

.TextBtnCanserTreatmentStyle {
    color: white;
    font-size: 1.8vw;
    font-weight: bold;
}

    .TextBtnCanserTreatmentStyle:hover {
        color: white;
        font-size: 1.8vw;
        font-weight: bold;
    }

.DivZirHeadersImgTextCanserTreatmentStyle {
    margin-top: 2%;
}

.ZirHeadersImgTextCanserTreatmentStyle {
    font-family: W_yekan;
    font-size: 1.5vw;
    color: black;
}

.DescaptirionOrginalCanserTreatmentStyle {
    margin-top: 8%;
}

.DescaptirionRowOneCanserTreatmentStyle {
}

.Pic3CanserTreatmentRowOneStyle {
    width: 65%;
}

.TitrTextRowOneCanserTreatmentStyle {
    font-family: W_yekan;
    font-size: 1.6vw;
    color: black;
    font-weight: bold;
}

.DivZirTitrTextRowOneCanserTreatmentStyle {
    margin-top: 5%;
}

.ZirTitrTextRowOneCanserTreatmentStyle {
    font-family: W_yekan;
    font-size: 1.2vw;
    color: black;
}

.DescaptirionRowTwoCanserTreatmentStyle {
    margin-top: 10%;
}

.Pic1CanserTreatmentRowTwoStyle {
    width: 70%;
}

.TitrTextRowTwoCanserTreatmentStyle {
    font-family: W_yekan;
    font-size: 1.6vw;
    color: black;
    font-weight: bold;
}

.DivZirTitrTextRowTwoCanserTreatmentStyle {
    margin-top: 5%;
}

.ZirTitrTextRowTwoCanserTreatmentStyle {
    font-family: W_yekan;
    font-size: 1.2vw;
    color: black;
}

.DescaptirionRowThreeCanserTreatmentStyle {
    margin-top: 10%;
    margin-bottom: 5%;
}

.Pic2CanserTreatmentRowThreeStyle {
    width: 65%;
}

.TitrTextRowThreeCanserTreatmentStyle {
    font-family: W_yekan;
    font-size: 1.6vw;
    color: black;
    font-weight: bold;
}

.DivZirTitrTextRoThreeCanserTreatmentStyle {
    margin-top: 5%;
}

.ZirTitrTextRowThreeCanserTreatmentStyle {
    font-family: W_yekan;
    font-size: 1.2vw;
    color: black;
}


/*#Sm*/
.PanelCanserTreatmentSmStyle {
}

.ImgHeaderCanserTreatmentSmStyle {
    width: 100%;
    transform:scaleX(-1);
}

.SliderDivTextCanserTreatmentSmStyle {
    position: absolute;
    margin-top: -33%;
    margin-right: 5%;
}

.SliderTitrCanserTreatmentSmStyle {
    color: rgba(12,144,68,1);
    font-size: 5vw;
    font-weight: bold;
    font-family: W_yekan;
}

.SliderZirDivTextCanserTreatmentSmStyle {
    position: absolute;
    margin-top: -29%;
    margin-right: 5%;
}

.SliderZirTitrCanserTreatmentSmStyle {
    color: rgba(12,144,68,1);
    font-size: 6.5vw;
    font-weight: bold;
    font-family: W_yekan;
}

.SliderDivDescriptionCanserTreatmentTitrSmStyle {
    position: absolute;
    margin-top: -20%;
    margin-right: 5.5%;
}

.SliderDescriptionCanserTreatmentTextTitrSmStyle {
    color: rgba(0,76,52,1);
    font-size: 1.2em;
    font-weight: bold;
    font-family: W_yekan;
}

.DivBtnCanserTreatmentSingInSmStyle {
    position: absolute;
    margin-top: -9.5%;
    margin-right: 5%;
    background-color: rgba(141,198,63,1);
    border-radius: 30px;
    transition: 0.5s;
}

    .DivBtnCanserTreatmentSingInSmStyle:hover {
        position: absolute;
        margin-top: -9.5%;
        margin-right: 5%;
        background-color: rgba(141,198,63,1);
        border-radius: 30px;
        transition: 0.5s;
        transform: scale(1.2);
    }

.TextBtnCanserTreatmentSmStyle {
    color: white;
    font-size: 2vw;
    font-weight: bold;
}

    .TextBtnCanserTreatmentSmStyle:hover {
        color: white;
        font-size: 2vw;
        font-weight: bold;
    }

.DivZirHeadersImgTextCanserTreatmentSmStyle {
    margin-top: 2%;
}

.ZirHeadersImgTextCanserTreatmentSmStyle {
    font-family: W_yekan;
    font-size: 1.7vw;
    color: black;
}

.DivVideoAndTextCanserTreatmentSmStyle {
    margin-top: 5%;
}

.VideoCanserTreatmentSmStyle {
    width: 100%;
}

.DivZirVideoCanserTreatmentSmStyle {
    margin-top: 2%;
}

.TitrTextVideoCanserTreatmentSmStyle {
    font-family: W_yekan;
    font-size: 1.9vw;
    color: black;
    font-weight: bold;
}

.ZirTextVideoCanserTreatmentSmStyle {
    font-family: W_yekan;
    font-size: 1.6vw;
    color: black;
}


.DescaptirionOrginalCanserTreatmentSmStyle {
    margin-top: 8%;
}

.DescaptirionRowOneCanserTreatmentSmStyle {
}

.Pic3CanserTreatmentRowOneTreatmentSmStyle {
    width: 50%;
}

.DivTitrRowOneCanserTreatmentSmStyle {
    margin-top: 3%;
}

.TitrTextRowOneCanserTreatmentSmStyle {
    font-family: W_yekan;
    font-size: 1.9vw;
    color: black;
    font-weight: bold;
}

.DivZirTitrTextRowOneCanserTreatmentSmStyle {
    margin-top: 1%;
}

.ZirTitrTextRowOneCanserTreatmentSmStyle {
    font-family: W_yekan;
    font-size: 1.6vw;
    color: black;
}

.DescaptirionRowTwoCanserTreatmentSmStyle {
    margin-top: 10%;
}

.Pic1CanserTreatmentRowTwoTreatmentSmStyle {
    width: 55%;
}

.DivTitrRowTwoCanserTreatmentSmStyle {
    margin-top: 3%;
}

.TitrTextRowTwoCanserTreatmentSmStyle {
    font-family: W_yekan;
    font-size: 1.9vw;
    color: black;
    font-weight: bold;
}

.DivZirTitrTextRowTwoCanserTreatmentSmStyle {
    margin-top: 1%;
}

.ZirTitrTextRowTwoCanserTreatmentSmStyle {
    font-family: W_yekan;
    font-size: 1.6vw;
    color: black;
}

.DescaptirionRowThreeCanserTreatmentSmStyle {
    margin-top: 10%;
    margin-bottom: 5%;
}

.Pic2CanserTreatmentRowThreeTreatmentSmStyle {
    width: 50%;
}

.DivTitrRowThreeCanserTreatmentSmStyle {
    margin-top: 3%;
}

.TitrTextRowThreeCanserTreatmentSmStyle {
    font-family: W_yekan;
    font-size: 1.9vw;
    color: black;
    font-weight: bold;
}

.DivZirTitrTextRoThreeCanserTreatmentSmStyle {
    margin-top: 1%;
}

.ZirTitrTextRowThreeCanserTreatmentSmStyle {
    font-family: W_yekan;
    font-size: 1.6vw;
    color: black;
}


/* #Xs*/


.PanelCanserTreatmentXsStyle {
}

.ImgHeaderCanserTreatmentXsStyle {
    width: 100%;
    transform:scaleX(-1);
}

.SliderDivTextCanserTreatmentXsStyle {
    position: absolute;
    margin-top: -33%;
    margin-right: 3%;
}

.SliderTitrCanserTreatmentXsStyle {
    color: rgba(12,144,68,1);
    font-size: 5vw;
    font-weight: bold;
    font-family: W_yekan;
}

.SliderZirDivTextCanserTreatmentXsStyle {
    position: absolute;
    margin-top: -29%;
    margin-right: 3%;
}

.SliderZirTitrCanserTreatmentXsStyle {
    color: rgba(12,144,68,1);
    font-size: 6.5vw;
    font-weight: bold;
    font-family: W_yekan;
}

.SliderDivDescriptionCanserTreatmentTitrXsStyle {
    position: absolute;
    margin-top: -19%;
    margin-right: 3.5%;
}

.SliderDescriptionCanserTreatmentTextTitrXsStyle {
    color: rgba(0,76,52,1);
    font-size: 1.2em;
    font-weight: bold;
    font-family: W_yekan;
}

.DivBtnCanserTreatmentSingInXsStyle {
    position: absolute;
    margin-top: -48%;
    margin-right: 40%;
    background-color: rgba(141,198,63,1);
    border-radius: 30px;
    transition: 0.5s;
}

    .DivBtnCanserTreatmentSingInXsStyle:hover {
        position: absolute;
        margin-top: -8%;
        margin-right: 40%;
        background-color: rgba(141,198,63,1);
        border-radius: 30px;
        transition: 0.5s;
        transform: scale(1.2);
    }

.TextBtnCanserTreatmentXsStyle {
    color: white;
    font-size: 2.7vw;
    font-weight: bold;
}

    .TextBtnCanserTreatmentXsStyle:hover {
        color: white;
        font-size: 2.7vw;
        font-weight: bold;
    }


.DivZirHeadersImgTextCanserTreatmentXsStyle {
    margin-top: 3%;
}

.ZirHeadersImgTextCanserTreatmentXsStyle {
    font-family: W_yekan;
    font-size: 2.3vw;
    color: black;
}

.DivVideoAndTextCanserTreatmentXsStyle {
    margin-top: 5%;
}

.VideoCanserTreatmentXsStyle {
    width: 100%;
}

.DivZirVideoCanserTreatmentXsStyle {
    margin-top: 2%;
}

.TitrTextVideoCanserTreatmentXsStyle {
    font-family: W_yekan;
    font-size: 2.9vw;
    color: black;
    font-weight: bold;
}

.ZirTextVideoCanserTreatmentXsStyle {
    font-family: W_yekan;
    font-size: 2.2vw;
    color: black;
}

.DescaptirionOrginalCanserTreatmentXsStyle {
    margin-top: 8%;
}

.DescaptirionRowOneCanserTreatmentXsStyle {
}

.Pic3CanserTreatmentTreatmentRowOneTreatmentXsStyle {
    width: 50%;
}

.DivTitrRowOneCanserTreatmentXsStyle {
    margin-top: 3%;
}

.TitrTextRowOneCanserTreatmentXsStyle {
    font-family: W_yekan;
    font-size: 2.9vw;
    color: black;
    font-weight: bold;
}

.DivZirTitrTextRowOneCanserTreatmentXsStyle {
    margin-top: 1%;
}

.ZirTitrTextRowOneCanserTreatmentXsStyle {
    font-family: W_yekan;
    font-size: 2.2vw;
    color: black;
}


.DescaptirionRowTwoCanserTreatmentXsStyle {
    margin-top: 10%;
}

.Pic1CanserTreatmentRowTwoTreatmentXsStyle {
    width: 55%;
}

.DivTitrRowTwoCanserTreatmentXsStyle {
    margin-top: 3%;
}

.TitrTextRowTwoCanserTreatmentXsStyle {
    font-family: W_yekan;
    font-size: 2.9vw;
    color: black;
    font-weight: bold;
}

.DivZirTitrTextRowTwoCanserTreatmentXsStyle {
    margin-top: 1%;
}

.ZirTitrTextRowTwoCanserTreatmentXsStyle {
    font-family: W_yekan;
    font-size: 2.2vw;
    color: black;
}


.DescaptirionRowThreeCanserTreatmentXsStyle {
    margin-top: 10%;
    margin-bottom: 5%;
}

.Pic2CanserTreatmentRowThreeTreatmentXsStyle {
    width: 50%;
}

.DivTitrRowThreeCanserTreatmentXsStyle {
    margin-top: 3%;
}

.TitrTextRowThreeCanserTreatmentXsStyle {
    font-family: W_yekan;
    font-size: 2.9vw;
    color: black;
    font-weight: bold;
}

.DivZirTitrTextRoThreeCanserTreatmentXsStyle {
    margin-top: 1%;
}

.ZirTitrTextRowThreeCanserTreatmentXsStyle {
    font-family: W_yekan;
    font-size: 2.2vw;
    color: black;
}
