.PanelEyeCareStyle {
}

.ImgHeaderEyeCareStyle {
    width: 100%;
    transform: scaleX(-1)
}

.DivVideoAndTextEyeCareStyle {
    margin-top: 5%;
}

.VideoEyeCareStyle {
    width: 100%;
}

.TitrTextVideoEyeCareStyle {
    font-family: W_yekan;
    font-size: 1.5vw;
    color: black;
    font-weight: bold;
}

.DivZirTextVideoEyeCareStyle {
    margin-top: 3%;
}

.ZirTextVideoEyeCareStyle {
    font-family: W_yekan;
    font-size: 1.2vw;
    color: black;
}

.SliderDivTextEyeCareStyle {
    position: absolute;
    margin-top: -33%;
    margin-right: 5%;
}

.SliderTitrEyeCareStyle {
    color: rgba(12,144,68,1);
    font-size: 4vw;
    font-weight: bold;
    font-family: W_yekan;
}

.SliderZirDivTextEyeCareStyle {
    position: absolute;
    margin-top: -28%;
    margin-right: 5%;
}

.SliderZirTitrEyeCareStyle {
    color: rgba(12,144,68,1);
    font-size: 6vw;
    font-weight: bold;
    font-family: W_yekan;
}

.SliderDivDescriptionEyeCareTitrStyle {
    position: absolute;
    margin-top: -20%;
    margin-right: 5.5%;
}

.SliderDescriptionEyeCareTextTitrStyle {
    color: rgba(0,76,52,1);
    font-size: 1.5vw;
    font-weight: bold;
    font-family: W_yekan;
}

.DivBtnEyeCareSingInStyle {
    position: absolute;
    margin-top: -9.5%;
    margin-right: 5%;
    background-color: rgba(141,198,63,1);
    border-radius: 30px;
    transition: 0.5s;
}

    .DivBtnEyeCareSingInStyle:hover {
        position: absolute;
        margin-top: -9.5%;
        margin-right: 5%;
        background-color: rgba(141,198,63,1);
        border-radius: 30px;
        transition: 0.5s;
        transform: scale(1.2);
    }

.TextBtnEyeCareStyle {
    color: white;
    font-size: 1.8vw;
    font-weight: bold;
}

    .TextBtnEyeCareStyle:hover {
        color: white;
        font-size: 1.8vw;
        font-weight: bold;
    }

.DivZirHeadersImgTextEyeCareStyle {
    margin-top: 2%;
}

.ZirHeadersImgTextEyeCareStyle {
    font-family: W_yekan;
    font-size: 1.5vw;
    color: black;
}

.DescaptirionOrginalEyeCareStyle {
    margin-top: 8%;
}

.DescaptirionRowOneEyeCareStyle {
}

.Pic3EyeCareRowOneStyle {
    width: 65%;
}

.TitrTextRowOneEyeCareStyle {
    font-family: W_yekan;
    font-size: 1.6vw;
    color: black;
    font-weight: bold;
}

.DivZirTitrTextRowOneEyeCareStyle {
    margin-top: 5%;
}

.ZirTitrTextRowOneEyeCareStyle {
    font-family: W_yekan;
    font-size: 1.2vw;
    color: black;
}

.DescaptirionRowTwoEyeCareStyle {
    margin-top: 10%;
}

.Pic1EyeCareRowTwoStyle {
    width: 70%;
}

.TitrTextRowTwoEyeCareStyle {
    font-family: W_yekan;
    font-size: 1.6vw;
    color: black;
    font-weight: bold;
}

.DivZirTitrTextRowTwoEyeCareStyle {
    margin-top: 5%;
}

.ZirTitrTextRowTwoEyeCareStyle {
    font-family: W_yekan;
    font-size: 1.2vw;
    color: black;
}

.DescaptirionRowThreeEyeCareStyle {
    margin-top: 10%;
    margin-bottom: 5%;
}

.Pic2EyeCareRowThreeStyle {
    width: 65%;
}

.TitrTextRowThreeEyeCareStyle {
    font-family: W_yekan;
    font-size: 1.6vw;
    color: black;
    font-weight: bold;
}

.DivZirTitrTextRoThreeEyeCareStyle {
    margin-top: 5%;
}

.ZirTitrTextRowThreeEyeCareStyle {
    font-family: W_yekan;
    font-size: 1.2vw;
    color: black;
}


/*#Sm*/
.PanelEyeCareSmStyle {
}

.ImgHeaderEyeCareSmStyle {
    width: 100%;
    transform: scaleX(-1);
}

.SliderDivTextEyeCareSmStyle {
    position: absolute;
    margin-top: -33%;
    margin-right: 5%;
}

.SliderTitrEyeCareSmStyle {
    color: rgba(12,144,68,1);
    font-size: 5vw;
    font-weight: bold;
    font-family: W_yekan;
}

.SliderZirDivTextEyeCareSmStyle {
    position: absolute;
    margin-top: -29%;
    margin-right: 5%;
}

.SliderZirTitrEyeCareSmStyle {
    color: rgba(12,144,68,1);
    font-size: 6.5vw;
    font-weight: bold;
    font-family: W_yekan;
}

.SliderDivDescriptionEyeCareTitrSmStyle {
    position: absolute;
    margin-top: -20%;
    margin-right: 5.5%;
}

.SliderDescriptionEyeCareTextTitrSmStyle {
    color: rgba(0,76,52,1);
    font-size: 1.2em;
    font-weight: bold;
    font-family: W_yekan;
}

.DivBtnEyeCareSingInSmStyle {
    position: absolute;
    margin-top: -9.5%;
    margin-right: 5%;
    background-color: rgba(141,198,63,1);
    border-radius: 30px;
    transition: 0.5s;
}

    .DivBtnEyeCareSingInSmStyle:hover {
        position: absolute;
        margin-top: -9.5%;
        margin-right: 5%;
        background-color: rgba(141,198,63,1);
        border-radius: 30px;
        transition: 0.5s;
        transform: scale(1.2);
    }

.TextBtnEyeCareSmStyle {
    color: white;
    font-size: 2vw;
    font-weight: bold;
}

    .TextBtnEyeCareSmStyle:hover {
        color: white;
        font-size: 2vw;
        font-weight: bold;
    }

.DivZirHeadersImgTextEyeCareSmStyle {
    margin-top: 2%;
}

.ZirHeadersImgTextEyeCareSmStyle {
    font-family: W_yekan;
    font-size: 1.7vw;
    color: black;
}

.DivVideoAndTextEyeCareSmStyle {
    margin-top: 5%;
}

.VideoEyeCareSmStyle {
    width: 100%;
}

.DivZirVideoEyeCareSmStyle {
    margin-top: 2%;
}

.TitrTextVideoEyeCareSmStyle {
    font-family: W_yekan;
    font-size: 1.9vw;
    color: black;
    font-weight: bold;
}

.ZirTextVideoEyeCareSmStyle {
    font-family: W_yekan;
    font-size: 1.6vw;
    color: black;
}


.DescaptirionOrginalEyeCareSmStyle {
    margin-top: 8%;
}

.DescaptirionRowOneEyeCareSmStyle {
}

.Pic3EyeCareRowOneTreatmentSmStyle {
    width: 50%;
}

.DivTitrRowOneEyeCareSmStyle {
    margin-top: 3%;
}

.TitrTextRowOneEyeCareSmStyle {
    font-family: W_yekan;
    font-size: 1.9vw;
    color: black;
    font-weight: bold;
}

.DivZirTitrTextRowOneEyeCareSmStyle {
    margin-top: 1%;
}

.ZirTitrTextRowOneEyeCareSmStyle {
    font-family: W_yekan;
    font-size: 1.6vw;
    color: black;
}

.DescaptirionRowTwoEyeCareSmStyle {
    margin-top: 10%;
}

.Pic1EyeCareRowTwoTreatmentSmStyle {
    width: 55%;
}

.DivTitrRowTwoEyeCareSmStyle {
    margin-top: 3%;
}

.TitrTextRowTwoEyeCareSmStyle {
    font-family: W_yekan;
    font-size: 1.9vw;
    color: black;
    font-weight: bold;
}

.DivZirTitrTextRowTwoEyeCareSmStyle {
    margin-top: 1%;
}

.ZirTitrTextRowTwoEyeCareSmStyle {
    font-family: W_yekan;
    font-size: 1.6vw;
    color: black;
}

.DescaptirionRowThreeEyeCareSmStyle {
    margin-top: 10%;
    margin-bottom: 5%;
}

.Pic2EyeCareRowThreeTreatmentSmStyle {
    width: 50%;
}

.DivTitrRowThreeEyeCareSmStyle {
    margin-top: 3%;
}

.TitrTextRowThreeEyeCareSmStyle {
    font-family: W_yekan;
    font-size: 1.9vw;
    color: black;
    font-weight: bold;
}

.DivZirTitrTextRoThreeEyeCareSmStyle {
    margin-top: 1%;
}

.ZirTitrTextRowThreeEyeCareSmStyle {
    font-family: W_yekan;
    font-size: 1.6vw;
    color: black;
}


/* #Xs*/


.PanelEyeCareXsStyle {
}

.ImgHeaderEyeCareXsStyle {
    width: 100%;
    transform: scaleX(-1);
}

.SliderDivTextEyeCareXsStyle {
    position: absolute;
    margin-top: -33%;
    margin-right: 3%;
}

.SliderTitrEyeCareXsStyle {
    color: rgba(12,144,68,1);
    font-size: 5vw;
    font-weight: bold;
    font-family: W_yekan;
}

.SliderZirDivTextEyeCareXsStyle {
    position: absolute;
    margin-top: -29%;
    margin-right: 3%;
}

.SliderZirTitrEyeCareXsStyle {
    color: rgba(12,144,68,1);
    font-size: 6.5vw;
    font-weight: bold;
    font-family: W_yekan;
}

.SliderDivDescriptionEyeCareTitrXsStyle {
    position: absolute;
    margin-top: -19%;
    margin-right: 3.5%;
}

.SliderDescriptionEyeCareTextTitrXsStyle {
    color: rgba(0,76,52,1);
    font-size: 1.2em;
    font-weight: bold;
    font-family: W_yekan;
}

.DivBtnEyeCareSingInXsStyle {
    position: absolute;
    margin-top: -8%;
    margin-right: 40%;
    background-color: rgba(141,198,63,1);
    border-radius: 30px;
    transition: 0.5s;
}

    .DivBtnEyeCareSingInXsStyle:hover {
        position: absolute;
        margin-top: -8%;
        margin-right: 40%;
        background-color: rgba(141,198,63,1);
        border-radius: 30px;
        transition: 0.5s;
        transform: scale(1.2);
    }

.TextBtnEyeCareXsStyle {
    color: white;
    font-size: 2.7vw;
    font-weight: bold;
}

    .TextBtnEyeCareXsStyle:hover {
        color: white;
        font-size: 2.7vw;
        font-weight: bold;
    }


.DivZirHeadersImgTextEyeCareXsStyle {
    margin-top: 3%;
}

.ZirHeadersImgTextEyeCareXsStyle {
    font-family: W_yekan;
    font-size: 2.3vw;
    color: black;
}

.DivVideoAndTextEyeCareXsStyle {
    margin-top: 5%;
}

.VideoEyeCareXsStyle {
    width: 100%;
}

.DivZirVideoEyeCareXsStyle {
    margin-top: 2%;
}

.TitrTextVideoEyeCareXsStyle {
    font-family: W_yekan;
    font-size: 2.9vw;
    color: black;
    font-weight: bold;
}

.ZirTextVideoEyeCareXsStyle {
    font-family: W_yekan;
    font-size: 2.2vw;
    color: black;
}

.DescaptirionOrginalEyeCareXsStyle {
    margin-top: 8%;
}

.DescaptirionRowOneEyeCareXsStyle {
}

.Pic3EyeCareTreatmentRowOneTreatmentXsStyle {
    width: 50%;
}

.DivTitrRowOneEyeCareXsStyle {
    margin-top: 3%;
}

.TitrTextRowOneEyeCareXsStyle {
    font-family: W_yekan;
    font-size: 2.9vw;
    color: black;
    font-weight: bold;
}

.DivZirTitrTextRowOneEyeCareXsStyle {
    margin-top: 1%;
}

.ZirTitrTextRowOneEyeCareXsStyle {
    font-family: W_yekan;
    font-size: 2.2vw;
    color: black;
}


.DescaptirionRowTwoEyeCareXsStyle {
    margin-top: 10%;
}

.Pic1EyeCareRowTwoTreatmentXsStyle {
    width: 55%;
}

.DivTitrRowTwoEyeCareXsStyle {
    margin-top: 3%;
}

.TitrTextRowTwoEyeCareXsStyle {
    font-family: W_yekan;
    font-size: 2.9vw;
    color: black;
    font-weight: bold;
}

.DivZirTitrTextRowTwoEyeCareXsStyle {
    margin-top: 1%;
}

.ZirTitrTextRowTwoEyeCareXsStyle {
    font-family: W_yekan;
    font-size: 2.2vw;
    color: black;
}


.DescaptirionRowThreeEyeCareXsStyle {
    margin-top: 10%;
    margin-bottom: 5%;
}

.Pic2EyeCareRowThreeTreatmentXsStyle {
    width: 50%;
}

.DivTitrRowThreeEyeCareXsStyle {
    margin-top: 3%;
}

.TitrTextRowThreeEyeCareXsStyle {
    font-family: W_yekan;
    font-size: 2.9vw;
    color: black;
    font-weight: bold;
}

.DivZirTitrTextRoThreeEyeCareXsStyle {
    margin-top: 1%;
}

.ZirTitrTextRowThreeEyeCareXsStyle {
    font-family: W_yekan;
    font-size: 2.2vw;
    color: black;
}
