.PanelHairTransplantStyle {
}

.ImgHeaderHairTransplantStyle {
    width: 100%;
    transform: scaleX(-1)
}

.DivVideoAndTextHairTransplantStyle {
    margin-top: 5%;
}

.VideoHairTransplantStyle {
    width: 100%;
}

.TitrTextVideoHairTransplantStyle {
    font-family: W_yekan;
    font-size: 1.5vw;
    color: black;
    font-weight: bold;
}

.DivZirTextVideoHairTransplantStyle {
    margin-top: 3%;
}

.ZirTextVideoHairTransplantStyle {
    font-family: W_yekan;
    font-size: 1.2vw;
    color: black;
}

.SliderDivTextHairTransplantStyle {
    position: absolute;
    margin-top: -33%;
    margin-right: 5%;
}

.SliderTitrHairTransplantStyle {
    color: rgba(12,144,68,1);
    font-size: 4vw;
    font-weight: bold;
    font-family: W_yekan;
}

.SliderZirDivTextHairTransplantStyle {
    position: absolute;
    margin-top: -30%;
    margin-right: 5%;
}

.SliderZirTitrHairTransplantStyle {
    color: rgba(12,144,68,1);
    font-size: 6vw;
    font-weight: bold;
    font-family: W_yekan;
}

.SliderDivDescriptionHairTransplantTitrStyle {
    position: absolute;
    margin-top: -20%;
    margin-right: 5.5%;
}

.SliderDescriptionHairTransplantTextTitrStyle {
    color: rgba(0,76,52,1);
    font-size: 1.5vw;
    font-weight: bold;
    font-family: W_yekan;
}

.DivBtnHairTransplantSingInStyle {
    position: absolute;
    margin-top: -9.5%;
    margin-right: 5%;
    background-color: rgba(141,198,63,1);
    border-radius: 30px;
    transition: 0.5s;
}

    .DivBtnHairTransplantSingInStyle:hover {
        position: absolute;
        margin-top: -9.5%;
        margin-right: 5%;
        background-color: rgba(141,198,63,1);
        border-radius: 30px;
        transition: 0.5s;
        transform: scale(1.2);
    }

.TextBtnHairTransplantStyle {
    color: white;
    font-size: 1.8vw;
    font-weight: bold;
}

    .TextBtnHairTransplantStyle:hover {
        color: white;
        font-size: 1.8vw;
        font-weight: bold;
    }

.DivZirHeadersImgTextHairTransplantStyle {
    margin-top: 2%;
}

.ZirHeadersImgTextHairTransplantStyle {
    font-family: W_yekan;
    font-size: 1.5vw;
    color: black;
}

.DescaptirionOrginalHairTransplantStyle {
    margin-top: 8%;
}

.DescaptirionRowOneHairTransplantStyle {
}

.Pic3HairTransplantRowOneStyle {
    width: 65%;
}

.TitrTextRowOneHairTransplantStyle {
    font-family: W_yekan;
    font-size: 1.6vw;
    color: black;
    font-weight: bold;
}

.DivZirTitrTextRowOneHairTransplantStyle {
    margin-top: 5%;
}

.ZirTitrTextRowOneHairTransplantStyle {
    font-family: W_yekan;
    font-size: 1.2vw;
    color: black;
}

.DescaptirionRowTwoHairTransplantStyle {
    margin-top: 10%;
}

.Pic1HairTransplantRowTwoStyle {
    width: 70%;
}

.TitrTextRowTwoHairTransplantStyle {
    font-family: W_yekan;
    font-size: 1.6vw;
    color: black;
    font-weight: bold;
}

.DivZirTitrTextRowTwoHairTransplantStyle {
    margin-top: 5%;
}

.ZirTitrTextRowTwoHairTransplantStyle {
    font-family: W_yekan;
    font-size: 1.2vw;
    color: black;
}

.DescaptirionRowThreeHairTransplantStyle {
    margin-top: 10%;
    margin-bottom: 5%;
}

.Pic2HairTransplantRowThreeStyle {
    width: 65%;
}

.TitrTextRowThreeHairTransplantStyle {
    font-family: W_yekan;
    font-size: 1.6vw;
    color: black;
    font-weight: bold;
}

.DivZirTitrTextRoThreeHairTransplantStyle {
    margin-top: 5%;
}

.ZirTitrTextRowThreeHairTransplantStyle {
    font-family: W_yekan;
    font-size: 1.2vw;
    color: black;
}


/*#Sm*/
.PanelHairTransplantSmStyle {
}

.ImgHeaderHairTransplantSmStyle {
    width: 100%;
    transform: scaleX(-1);
}

.SliderDivTextHairTransplantSmStyle {
    position: absolute;
    margin-top: -33%;
    margin-right: 5%;
}

.SliderTitrHairTransplantSmStyle {
    color: rgba(12,144,68,1);
    font-size: 5vw;
    font-weight: bold;
    font-family: W_yekan;
}

.SliderZirDivTextHairTransplantSmStyle {
    position: absolute;
    margin-top: -29%;
    margin-right: 5%;
}

.SliderZirTitrHairTransplantSmStyle {
    color: rgba(12,144,68,1);
    font-size: 6.5vw;
    font-weight: bold;
    font-family: W_yekan;
}

.SliderDivDescriptionHairTransplantTitrSmStyle {
    position: absolute;
    margin-top: -20%;
    margin-right: 5.5%;
}

.SliderDescriptionHairTransplantTextTitrSmStyle {
    color: rgba(0,76,52,1);
    font-size: 1.2em;
    font-weight: bold;
    font-family: W_yekan;
}

.DivBtnHairTransplantSingInSmStyle {
    position: absolute;
    margin-top: -6.5%;
    margin-right: 5%;
    background-color: rgba(141,198,63,1);
    border-radius: 30px;
    transition: 0.5s;
}

    .DivBtnHairTransplantSingInSmStyle:hover {
        position: absolute;
        margin-top: -6.5%;
        margin-right: 5%;
        background-color: rgba(141,198,63,1);
        border-radius: 30px;
        transition: 0.5s;
        transform: scale(1.2);
    }

.TextBtnHairTransplantSmStyle {
    color: white;
    font-size: 2vw;
    font-weight: bold;
}

    .TextBtnHairTransplantSmStyle:hover {
        color: white;
        font-size: 2vw;
        font-weight: bold;
    }

.DivZirHeadersImgTextHairTransplantSmStyle {
    margin-top: 2%;
}

.ZirHeadersImgTextHairTransplantSmStyle {
    font-family: W_yekan;
    font-size: 1.7vw;
    color: black;
}

.DivVideoAndTextHairTransplantSmStyle {
    margin-top: 5%;
}

.VideoHairTransplantSmStyle {
    width: 100%;
}

.DivZirVideoHairTransplantSmStyle {
    margin-top: 2%;
}

.TitrTextVideoHairTransplantSmStyle {
    font-family: W_yekan;
    font-size: 1.9vw;
    color: black;
    font-weight: bold;
}

.ZirTextVideoHairTransplantSmStyle {
    font-family: W_yekan;
    font-size: 1.6vw;
    color: black;
}


.DescaptirionOrginalHairTransplantSmStyle {
    margin-top: 8%;
}

.DescaptirionRowOneHairTransplantSmStyle {
}

.Pic3HairTransplantRowOneTreatmentSmStyle {
    width: 50%;
}

.DivTitrRowOneHairTransplantSmStyle {
    margin-top: 3%;
}

.TitrTextRowOneHairTransplantSmStyle {
    font-family: W_yekan;
    font-size: 1.9vw;
    color: black;
    font-weight: bold;
}

.DivZirTitrTextRowOneHairTransplantSmStyle {
    margin-top: 1%;
}

.ZirTitrTextRowOneHairTransplantSmStyle {
    font-family: W_yekan;
    font-size: 1.6vw;
    color: black;
}

.DescaptirionRowTwoHairTransplantSmStyle {
    margin-top: 10%;
}

.Pic1HairTransplantRowTwoTreatmentSmStyle {
    width: 55%;
}

.DivTitrRowTwoHairTransplantSmStyle {
    margin-top: 3%;
}

.TitrTextRowTwoHairTransplantSmStyle {
    font-family: W_yekan;
    font-size: 1.9vw;
    color: black;
    font-weight: bold;
}

.DivZirTitrTextRowTwoHairTransplantSmStyle {
    margin-top: 1%;
}

.ZirTitrTextRowTwoHairTransplantSmStyle {
    font-family: W_yekan;
    font-size: 1.6vw;
    color: black;
}

.DescaptirionRowThreeHairTransplantSmStyle {
    margin-top: 10%;
    margin-bottom: 5%;
}

.Pic2HairTransplantRowThreeTreatmentSmStyle {
    width: 50%;
}

.DivTitrRowThreeHairTransplantSmStyle {
    margin-top: 3%;
}

.TitrTextRowThreeHairTransplantSmStyle {
    font-family: W_yekan;
    font-size: 1.9vw;
    color: black;
    font-weight: bold;
}

.DivZirTitrTextRoThreeHairTransplantSmStyle {
    margin-top: 1%;
}

.ZirTitrTextRowThreeHairTransplantSmStyle {
    font-family: W_yekan;
    font-size: 1.6vw;
    color: black;
}


/* #Xs*/


.PanelHairTransplantXsStyle {
}

.ImgHeaderHairTransplantXsStyle {
    width: 100%;
    transform: scaleX(-1);
}

.SliderDivTextHairTransplantXsStyle {
    position: absolute;
    margin-top: -33%;
    margin-right: 3%;
}

.SliderTitrHairTransplantXsStyle {
    color: rgba(12,144,68,1);
    font-size: 5vw;
    font-weight: bold;
    font-family: W_yekan;
}

.SliderZirDivTextHairTransplantXsStyle {
    position: absolute;
    margin-top: -29%;
    margin-right: 3%;
}

.SliderZirTitrHairTransplantXsStyle {
    color: rgba(12,144,68,1);
    font-size: 6.5vw;
    font-weight: bold;
    font-family: W_yekan;
}

.SliderDivDescriptionHairTransplantTitrXsStyle {
    position: absolute;
    margin-top: -19%;
    margin-right: 3.5%;
}

.SliderDescriptionHairTransplantTextTitrXsStyle {
    color: rgba(0,76,52,1);
    font-size: 1.2em;
    font-weight: bold;
    font-family: W_yekan;
}

.DivBtnHairTransplantSingInXsStyle {
    position: absolute;
    margin-top: -8%;
    margin-right: 60%;
    background-color: rgba(141,198,63,1);
    border-radius: 30px;
    transition: 0.5s;
}

    .DivBtnHairTransplantSingInXsStyle:hover {
        position: absolute;
        margin-top: -8%;
        margin-right: 60%;
        background-color: rgba(141,198,63,1);
        border-radius: 30px;
        transition: 0.5s;
        transform: scale(1.2);
    }

.TextBtnHairTransplantXsStyle {
    color: white;
    font-size: 2.7vw;
    font-weight: bold;
}

    .TextBtnHairTransplantXsStyle:hover {
        color: white;
        font-size: 2.7vw;
        font-weight: bold;
    }


.DivZirHeadersImgTextHairTransplantXsStyle {
    margin-top: 3%;
}

.ZirHeadersImgTextHairTransplantXsStyle {
    font-family: W_yekan;
    font-size: 2.3vw;
    color: black;
}

.DivVideoAndTextHairTransplantXsStyle {
    margin-top: 5%;
}

.VideoHairTransplantXsStyle {
    width: 100%;
}

.DivZirVideoHairTransplantXsStyle {
    margin-top: 2%;
}

.TitrTextVideoHairTransplantXsStyle {
    font-family: W_yekan;
    font-size: 2.9vw;
    color: black;
    font-weight: bold;
}

.ZirTextVideoHairTransplantXsStyle {
    font-family: W_yekan;
    font-size: 2.2vw;
    color: black;
}

.DescaptirionOrginalHairTransplantXsStyle {
    margin-top: 8%;
}

.DescaptirionRowOneHairTransplantXsStyle {
}

.Pic3HairTransplantTreatmentRowOneTreatmentXsStyle {
    width: 50%;
}

.DivTitrRowOneHairTransplantXsStyle {
    margin-top: 3%;
}

.TitrTextRowOneHairTransplantXsStyle {
    font-family: W_yekan;
    font-size: 2.9vw;
    color: black;
    font-weight: bold;
}

.DivZirTitrTextRowOneHairTransplantXsStyle {
    margin-top: 1%;
}

.ZirTitrTextRowOneHairTransplantXsStyle {
    font-family: W_yekan;
    font-size: 2.2vw;
    color: black;
}


.DescaptirionRowTwoHairTransplantXsStyle {
    margin-top: 10%;
}

.Pic1HairTransplantRowTwoTreatmentXsStyle {
    width: 55%;
}

.DivTitrRowTwoHairTransplantXsStyle {
    margin-top: 3%;
}

.TitrTextRowTwoHairTransplantXsStyle {
    font-family: W_yekan;
    font-size: 2.9vw;
    color: black;
    font-weight: bold;
}

.DivZirTitrTextRowTwoHairTransplantXsStyle {
    margin-top: 1%;
}

.ZirTitrTextRowTwoHairTransplantXsStyle {
    font-family: W_yekan;
    font-size: 2.2vw;
    color: black;
}


.DescaptirionRowThreeHairTransplantXsStyle {
    margin-top: 10%;
    margin-bottom: 5%;
}

.Pic2HairTransplantRowThreeTreatmentXsStyle {
    width: 50%;
}

.DivTitrRowThreeHairTransplantXsStyle {
    margin-top: 3%;
}

.TitrTextRowThreeHairTransplantXsStyle {
    font-family: W_yekan;
    font-size: 2.9vw;
    color: black;
    font-weight: bold;
}

.DivZirTitrTextRoThreeHairTransplantXsStyle {
    margin-top: 1%;
}

.ZirTitrTextRowThreeHairTransplantXsStyle {
    font-family: W_yekan;
    font-size: 2.2vw;
    color: black;
}
